html, body {
    height: 100%;

}

body {
    background: #4b4b4b;
    font-family: Ubuntu, sans-serif;
    font-size: 25px;
    color: #9c9c9c;
    font-weight: 400;
    /*min-width: 320px;*/
    text-shadow: 0 0 5px #9b4304
}

#head {
    background: url(../img/website-design-background.png) center no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 700px;
    background-attachment: fixed;
}

#doc1 {
    background: url(../img/grey-website-background-illusionapparel2.jpg) center no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 600px;
    background-attachment: fixed;
}

#doc2 {
    background: url(../img/1d108b7162654190b3e29168280a0213.jpg) center no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 500px;
    background-attachment: fixed;
}

#doc3 {
    background: url(../img/Dark-Grey-Background-Photo-HD-Wallpaper-2nwk9-Free.jpeg) center no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 500px;
    background-attachment: fixed;
}



.p_head {
    color: #d7d7d7;
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 60px #9b4304;
    /*padding:70px;*/
}

.img_head{
    opacity: 0.9;
    box-shadow: 0 0 30px #9b4304;
}
.img_head:hover {
    animation:anim 1s ease-in-out infinite alternate;
}

@keyframes anim {
    0% {}

    50% {
        transform: translate(0, 15px);
    }
    100% {}
}

.p_doc1{
    color: #d7d7d7;
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 60px #9b4304;
}

.p_doc3{
    color: #d7d7d7;
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 60px #9b4304;
}

.img_doc1{
    box-shadow: 0 0 30px #9b4304;
}


.img_doc2{
    box-shadow: 0 0 30px #9b4304;
}

#foo{
    background: #540b00;
}
@media only screen and (max-width: 360px) {
    #head {
          height: 1000px;
      }
    #doc1 {
        height: 1000px;
    }
    #doc2 {
        height: 1309px;
    }
    #doc3 {
        height: 1100px;
    }

    .p_doc3{
        margin-left: -25px;
    }
    .img_head{

    }
}

